$menu-color: #3d3d3d;

@mixin header-link($spacing: 2px) {
    color: $menu-color;
    text-decoration: none;
    letter-spacing: $spacing;
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo {
        @include header-link;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 20px;
    }

    &__item-link {
        @include header-link(1px);
        font: {
            size: 16px;
            weight: 500;
        }

        &:hover, &--is-active {
            border-bottom: solid 2px $menu-color;
        }

    }

}